//
// Written by Synplify Pro 
// Product Version "J-2015.03"
// Program "Synplify Pro", Mapper "maprc, Build 2608R"
// Fri Feb 15 11:07:46 2019
//
// Source file index table:
// Object locations will have the form <file>:<line>
// file 0 "\d:\tools\synopsys\fpga_j-2015.03\lib\xilinx\unisim_m10i.v "
// file 1 "\d:\tools\synopsys\fpga_j-2015.03\lib\xilinx\unisim.v "
// file 2 "\d:\tools\synopsys\fpga_j-2015.03\lib\vlog\hypermods.v "
// file 3 "\d:\tools\synopsys\fpga_j-2015.03\lib\vlog\umr_capim.v "
// file 4 "\d:\tools\synopsys\fpga_j-2015.03\lib\vlog\scemi_objects.v "
// file 5 "\d:\tools\synopsys\fpga_j-2015.03\lib\vlog\scemi_pipes.svh "
// file 6 "\f:\daheng\hw_mer\branches\u3v_temp\fpga_module\3_io_channel\common\filter\src\filter.v "

`timescale 100 ps/100 ps
module filter (
  clk,
  iv_filter_rise,
  iv_filter_fall,
  i_din,
  o_dout
)
;

/*  Synopsys
.origName=filter
.langParams="TRIG_FILTER_WIDTH"
TRIG_FILTER_WIDTH=19
 */
input clk ;
input [18:0] iv_filter_rise ;
input [18:0] iv_filter_fall ;
input i_din ;
output o_dout ;
wire clk ;
wire i_din ;
wire o_dout ;
wire [18:0] filter_rise_cnt;
wire [18:0] filter_fall_cnt;
wire [18:0] filter_rise_reg;
wire [18:0] filter_fall_reg;
wire [3:0] un1_filter_rise_reg_cry_3_O;
wire [3:0] un1_filter_rise_reg_cry_7_O;
wire [3:0] un1_filter_rise_reg_cry_11_O;
wire [3:0] un1_filter_rise_reg_cry_15_O;
wire [2:0] un1_filter_rise_reg_s_18_O;
wire [3:0] un1_filter_fall_reg_cry_3_O;
wire [3:0] un1_filter_fall_reg_cry_7_O;
wire [3:0] un1_filter_fall_reg_cry_11_O;
wire [3:0] un1_filter_fall_reg_cry_15_O;
wire [2:0] un1_filter_fall_reg_s_18_O;
wire [5:0] filter_fall_cnt5_0_data_tmp;
wire [5:0] filter_rise_cnt6_0_data_tmp;
wire [18:0] iv_filter_rise_c;
wire [18:0] iv_filter_fall_c;
wire [3:0] iv_filter_fall_c_i;
wire [3:0] iv_filter_rise_c_i;
wire [18:0] filter_fall_cnt_s;
wire [17:1] filter_fall_cnt_cry;
wire [18:0] filter_rise_cnt_s;
wire [17:1] filter_rise_cnt_cry;
wire [18:1] filter_rise_cnt_s_sf;
wire [18:1] filter_fall_cnt_s_sf;
wire [0:0] filter_rise_cnt_fast;
wire [0:0] filter_rise_cnt_s_fast;
wire [0:0] filter_fall_cnt_fast;
wire [0:0] filter_fall_cnt_s_fast;
wire [3:0] filter_rise_cnt6_0_I_19_O;
wire [2:0] filter_rise_cnt6_0_I_51_O;
wire [3:0] filter_fall_cnt5_0_I_19_O;
wire [2:0] filter_fall_cnt5_0_I_51_O;
wire filter_sig ;
wire VCC ;
wire GND ;
wire filter_fall_reg8 ;
wire filter_rise_reg10 ;
wire filter_rise_cnt6 ;
wire filter_fall_cnt5 ;
wire filter_sig3 ;
wire filter_fall_cnt5_0_N_4 ;
wire filter_fall_cnt5_0_N_11 ;
wire filter_fall_cnt5_0_N_18 ;
wire filter_fall_cnt5_0_N_25 ;
wire filter_fall_cnt5_0_N_32 ;
wire filter_fall_cnt5_0_N_39 ;
wire filter_rise_cnt6_0_N_4 ;
wire filter_rise_cnt6_0_N_11 ;
wire filter_rise_cnt6_0_N_18 ;
wire filter_rise_cnt6_0_N_25 ;
wire filter_rise_cnt6_0_N_32 ;
wire filter_rise_cnt6_0_N_39 ;
wire clk_c ;
wire i_din_c ;
wire un1_filter_rise_reg_cry_0 ;
wire un1_filter_rise_reg_axb_1 ;
wire un1_filter_rise_reg_cry_1 ;
wire un1_filter_rise_reg_axb_2 ;
wire un1_filter_rise_reg_cry_2 ;
wire un1_filter_rise_reg_cry_3 ;
wire un1_filter_rise_reg_axb_4 ;
wire un1_filter_rise_reg_cry_4 ;
wire un1_filter_rise_reg_axb_5 ;
wire un1_filter_rise_reg_cry_5 ;
wire un1_filter_rise_reg_axb_6 ;
wire un1_filter_rise_reg_cry_6 ;
wire un1_filter_rise_reg_axb_7 ;
wire un1_filter_rise_reg_cry_7 ;
wire un1_filter_rise_reg_axb_8 ;
wire un1_filter_rise_reg_cry_8 ;
wire un1_filter_rise_reg_axb_9 ;
wire un1_filter_rise_reg_cry_9 ;
wire un1_filter_rise_reg_axb_10 ;
wire un1_filter_rise_reg_cry_10 ;
wire un1_filter_rise_reg_axb_11 ;
wire un1_filter_rise_reg_cry_11 ;
wire un1_filter_rise_reg_axb_12 ;
wire un1_filter_rise_reg_cry_12 ;
wire un1_filter_rise_reg_axb_13 ;
wire un1_filter_rise_reg_cry_13 ;
wire un1_filter_rise_reg_axb_14 ;
wire un1_filter_rise_reg_cry_14 ;
wire un1_filter_rise_reg_axb_15 ;
wire un1_filter_rise_reg_cry_15 ;
wire un1_filter_rise_reg_axb_16 ;
wire un1_filter_rise_reg_cry_16 ;
wire un1_filter_rise_reg_axb_17 ;
wire un1_filter_rise_reg_cry_17 ;
wire un1_filter_rise_reg_axb_18 ;
wire un1_filter_fall_reg_cry_0 ;
wire un1_filter_fall_reg_axb_1 ;
wire un1_filter_fall_reg_cry_1 ;
wire un1_filter_fall_reg_axb_2 ;
wire un1_filter_fall_reg_cry_2 ;
wire un1_filter_fall_reg_cry_3 ;
wire un1_filter_fall_reg_axb_4 ;
wire un1_filter_fall_reg_cry_4 ;
wire un1_filter_fall_reg_axb_5 ;
wire un1_filter_fall_reg_cry_5 ;
wire un1_filter_fall_reg_axb_6 ;
wire un1_filter_fall_reg_cry_6 ;
wire un1_filter_fall_reg_axb_7 ;
wire un1_filter_fall_reg_cry_7 ;
wire un1_filter_fall_reg_axb_8 ;
wire un1_filter_fall_reg_cry_8 ;
wire un1_filter_fall_reg_axb_9 ;
wire un1_filter_fall_reg_cry_9 ;
wire un1_filter_fall_reg_axb_10 ;
wire un1_filter_fall_reg_cry_10 ;
wire un1_filter_fall_reg_axb_11 ;
wire un1_filter_fall_reg_cry_11 ;
wire un1_filter_fall_reg_axb_12 ;
wire un1_filter_fall_reg_cry_12 ;
wire un1_filter_fall_reg_axb_13 ;
wire un1_filter_fall_reg_cry_13 ;
wire un1_filter_fall_reg_axb_14 ;
wire un1_filter_fall_reg_cry_14 ;
wire un1_filter_fall_reg_axb_15 ;
wire un1_filter_fall_reg_cry_15 ;
wire un1_filter_fall_reg_axb_16 ;
wire un1_filter_fall_reg_cry_16 ;
wire un1_filter_fall_reg_axb_17 ;
wire un1_filter_fall_reg_cry_17 ;
wire un1_filter_fall_reg_axb_18 ;
wire filter_fall_cnt5_0_N_3_i ;
wire filter_rise_cnt6_0_N_3_i ;
wire i_din_c_i ;
wire filter_rise_cnt6_i ;
wire filter_fall_cnt5_i ;
wire filter_fall_reg8_0 ;
wire filter_fall_reg8_1 ;
wire filter_fall_reg8_2 ;
wire filter_rise_reg10_0 ;
wire filter_rise_reg10_1 ;
wire filter_rise_reg10_2 ;
wire clk_ibuf_iso ;
wire N_3_0 ;
wire NC0 ;
wire NC1 ;
wire NC2 ;
wire NC3 ;
wire NC4 ;
wire NC5 ;
wire NC6 ;
wire NC7 ;
wire NC8 ;
wire NC9 ;
wire NC10 ;
wire NC11 ;
wire NC12 ;
wire NC13 ;
wire NC14 ;
wire NC15 ;
wire NC16 ;
wire NC17 ;
wire NC18 ;
wire NC19 ;
  GND GND_cZ (
	.G(GND)
);
  VCC VCC_cZ (
	.P(VCC)
);
// @6:59
  CARRY4 un1_filter_rise_reg_s_18 (
	.CO({NC1, NC0, un1_filter_rise_reg_cry_17, un1_filter_rise_reg_cry_16}),
	.O({NC2, un1_filter_rise_reg_s_18_O[2:0]}),
	.CI(un1_filter_rise_reg_cry_15),
	.CYINIT(GND),
	.DI({GND, GND, GND, GND}),
	.S({GND, un1_filter_rise_reg_axb_18, un1_filter_rise_reg_axb_17, un1_filter_rise_reg_axb_16})
);
// @6:59
  CARRY4 un1_filter_rise_reg_cry_15_cZ (
	.CO({un1_filter_rise_reg_cry_15, un1_filter_rise_reg_cry_14, un1_filter_rise_reg_cry_13, un1_filter_rise_reg_cry_12}),
	.O(un1_filter_rise_reg_cry_15_O[3:0]),
	.CI(un1_filter_rise_reg_cry_11),
	.CYINIT(GND),
	.DI({GND, GND, GND, GND}),
	.S({un1_filter_rise_reg_axb_15, un1_filter_rise_reg_axb_14, un1_filter_rise_reg_axb_13, un1_filter_rise_reg_axb_12})
);
// @6:59
  CARRY4 un1_filter_rise_reg_cry_11_cZ (
	.CO({un1_filter_rise_reg_cry_11, un1_filter_rise_reg_cry_10, un1_filter_rise_reg_cry_9, un1_filter_rise_reg_cry_8}),
	.O(un1_filter_rise_reg_cry_11_O[3:0]),
	.CI(un1_filter_rise_reg_cry_7),
	.CYINIT(GND),
	.DI({GND, GND, GND, GND}),
	.S({un1_filter_rise_reg_axb_11, un1_filter_rise_reg_axb_10, un1_filter_rise_reg_axb_9, un1_filter_rise_reg_axb_8})
);
// @6:59
  CARRY4 un1_filter_rise_reg_cry_7_cZ (
	.CO({un1_filter_rise_reg_cry_7, un1_filter_rise_reg_cry_6, un1_filter_rise_reg_cry_5, un1_filter_rise_reg_cry_4}),
	.O(un1_filter_rise_reg_cry_7_O[3:0]),
	.CI(un1_filter_rise_reg_cry_3),
	.CYINIT(GND),
	.DI({GND, GND, GND, GND}),
	.S({un1_filter_rise_reg_axb_7, un1_filter_rise_reg_axb_6, un1_filter_rise_reg_axb_5, un1_filter_rise_reg_axb_4})
);
// @6:59
  CARRY4 un1_filter_rise_reg_cry_3_cZ (
	.CO({un1_filter_rise_reg_cry_3, un1_filter_rise_reg_cry_2, un1_filter_rise_reg_cry_1, un1_filter_rise_reg_cry_0}),
	.O(un1_filter_rise_reg_cry_3_O[3:0]),
	.CI(GND),
	.CYINIT(GND),
	.DI({VCC, GND, GND, VCC}),
	.S({iv_filter_rise_c_i[3], un1_filter_rise_reg_axb_2, un1_filter_rise_reg_axb_1, iv_filter_rise_c_i[0]})
);
// @6:65
  CARRY4 un1_filter_fall_reg_s_18 (
	.CO({NC4, NC3, un1_filter_fall_reg_cry_17, un1_filter_fall_reg_cry_16}),
	.O({NC5, un1_filter_fall_reg_s_18_O[2:0]}),
	.CI(un1_filter_fall_reg_cry_15),
	.CYINIT(GND),
	.DI({GND, GND, GND, GND}),
	.S({GND, un1_filter_fall_reg_axb_18, un1_filter_fall_reg_axb_17, un1_filter_fall_reg_axb_16})
);
// @6:65
  CARRY4 un1_filter_fall_reg_cry_15_cZ (
	.CO({un1_filter_fall_reg_cry_15, un1_filter_fall_reg_cry_14, un1_filter_fall_reg_cry_13, un1_filter_fall_reg_cry_12}),
	.O(un1_filter_fall_reg_cry_15_O[3:0]),
	.CI(un1_filter_fall_reg_cry_11),
	.CYINIT(GND),
	.DI({GND, GND, GND, GND}),
	.S({un1_filter_fall_reg_axb_15, un1_filter_fall_reg_axb_14, un1_filter_fall_reg_axb_13, un1_filter_fall_reg_axb_12})
);
// @6:65
  CARRY4 un1_filter_fall_reg_cry_11_cZ (
	.CO({un1_filter_fall_reg_cry_11, un1_filter_fall_reg_cry_10, un1_filter_fall_reg_cry_9, un1_filter_fall_reg_cry_8}),
	.O(un1_filter_fall_reg_cry_11_O[3:0]),
	.CI(un1_filter_fall_reg_cry_7),
	.CYINIT(GND),
	.DI({GND, GND, GND, GND}),
	.S({un1_filter_fall_reg_axb_11, un1_filter_fall_reg_axb_10, un1_filter_fall_reg_axb_9, un1_filter_fall_reg_axb_8})
);
// @6:65
  CARRY4 un1_filter_fall_reg_cry_7_cZ (
	.CO({un1_filter_fall_reg_cry_7, un1_filter_fall_reg_cry_6, un1_filter_fall_reg_cry_5, un1_filter_fall_reg_cry_4}),
	.O(un1_filter_fall_reg_cry_7_O[3:0]),
	.CI(un1_filter_fall_reg_cry_3),
	.CYINIT(GND),
	.DI({GND, GND, GND, GND}),
	.S({un1_filter_fall_reg_axb_7, un1_filter_fall_reg_axb_6, un1_filter_fall_reg_axb_5, un1_filter_fall_reg_axb_4})
);
// @6:65
  CARRY4 un1_filter_fall_reg_cry_3_cZ (
	.CO({un1_filter_fall_reg_cry_3, un1_filter_fall_reg_cry_2, un1_filter_fall_reg_cry_1, un1_filter_fall_reg_cry_0}),
	.O(un1_filter_fall_reg_cry_3_O[3:0]),
	.CI(GND),
	.CYINIT(GND),
	.DI({VCC, GND, GND, VCC}),
	.S({iv_filter_fall_c_i[3], un1_filter_fall_reg_axb_2, un1_filter_fall_reg_axb_1, iv_filter_fall_c_i[0]})
);
// @6:93
  CARRY4 \filter_fall_cnt_s_cZ[18]  (
	.CO({NC8, NC7, NC6, filter_fall_cnt_cry[17]}),
	.O({NC10, NC9, filter_fall_cnt_s[18:17]}),
	.CI(filter_fall_cnt_cry[16]),
	.CYINIT(GND),
	.DI({GND, GND, GND, GND}),
	.S({GND, GND, filter_fall_cnt_s_sf[18:17]})
);
// @6:93
  CARRY4 \filter_fall_cnt_cry_cZ[16]  (
	.CO(filter_fall_cnt_cry[16:13]),
	.O(filter_fall_cnt_s[16:13]),
	.CI(filter_fall_cnt_cry[12]),
	.CYINIT(GND),
	.DI({GND, GND, GND, GND}),
	.S(filter_fall_cnt_s_sf[16:13])
);
// @6:93
  CARRY4 \filter_fall_cnt_cry_cZ[12]  (
	.CO(filter_fall_cnt_cry[12:9]),
	.O(filter_fall_cnt_s[12:9]),
	.CI(filter_fall_cnt_cry[8]),
	.CYINIT(GND),
	.DI({GND, GND, GND, GND}),
	.S(filter_fall_cnt_s_sf[12:9])
);
// @6:93
  CARRY4 \filter_fall_cnt_cry_cZ[8]  (
	.CO(filter_fall_cnt_cry[8:5]),
	.O(filter_fall_cnt_s[8:5]),
	.CI(filter_fall_cnt_cry[4]),
	.CYINIT(GND),
	.DI({GND, GND, GND, GND}),
	.S(filter_fall_cnt_s_sf[8:5])
);
// @6:93
  CARRY4 \filter_fall_cnt_cry_cZ[4]  (
	.CO(filter_fall_cnt_cry[4:1]),
	.O(filter_fall_cnt_s[4:1]),
	.CI(GND),
	.CYINIT(filter_fall_cnt[0]),
	.DI({GND, GND, GND, GND}),
	.S(filter_fall_cnt_s_sf[4:1])
);
// @6:74
  CARRY4 \filter_rise_cnt_s_cZ[18]  (
	.CO({NC13, NC12, NC11, filter_rise_cnt_cry[17]}),
	.O({NC15, NC14, filter_rise_cnt_s[18:17]}),
	.CI(filter_rise_cnt_cry[16]),
	.CYINIT(GND),
	.DI({GND, GND, GND, GND}),
	.S({GND, GND, filter_rise_cnt_s_sf[18:17]})
);
// @6:74
  CARRY4 \filter_rise_cnt_cry_cZ[16]  (
	.CO(filter_rise_cnt_cry[16:13]),
	.O(filter_rise_cnt_s[16:13]),
	.CI(filter_rise_cnt_cry[12]),
	.CYINIT(GND),
	.DI({GND, GND, GND, GND}),
	.S(filter_rise_cnt_s_sf[16:13])
);
// @6:74
  CARRY4 \filter_rise_cnt_cry_cZ[12]  (
	.CO(filter_rise_cnt_cry[12:9]),
	.O(filter_rise_cnt_s[12:9]),
	.CI(filter_rise_cnt_cry[8]),
	.CYINIT(GND),
	.DI({GND, GND, GND, GND}),
	.S(filter_rise_cnt_s_sf[12:9])
);
// @6:74
  CARRY4 \filter_rise_cnt_cry_cZ[8]  (
	.CO(filter_rise_cnt_cry[8:5]),
	.O(filter_rise_cnt_s[8:5]),
	.CI(filter_rise_cnt_cry[4]),
	.CYINIT(GND),
	.DI({GND, GND, GND, GND}),
	.S(filter_rise_cnt_s_sf[8:5])
);
// @6:74
  CARRY4 \filter_rise_cnt_cry_cZ[4]  (
	.CO(filter_rise_cnt_cry[4:1]),
	.O(filter_rise_cnt_s[4:1]),
	.CI(GND),
	.CYINIT(filter_rise_cnt[0]),
	.DI({GND, GND, GND, GND}),
	.S(filter_rise_cnt_s_sf[4:1])
);
// @6:98
  CARRY4 filter_fall_cnt5_0_I_51 (
	.CO({NC16, filter_fall_cnt5, filter_fall_cnt5_0_data_tmp[5:4]}),
	.O({NC17, filter_fall_cnt5_0_I_51_O[2:0]}),
	.CI(filter_fall_cnt5_0_data_tmp[3]),
	.CYINIT(GND),
	.DI({GND, GND, GND, GND}),
	.S({GND, filter_fall_cnt5_0_N_3_i, filter_fall_cnt5_0_N_4, filter_fall_cnt5_0_N_11})
);
// @6:98
  CARRY4 filter_fall_cnt5_0_I_19 (
	.CO(filter_fall_cnt5_0_data_tmp[3:0]),
	.O(filter_fall_cnt5_0_I_19_O[3:0]),
	.CI(GND),
	.CYINIT(VCC),
	.DI({GND, GND, GND, GND}),
	.S({filter_fall_cnt5_0_N_25, filter_fall_cnt5_0_N_18, filter_fall_cnt5_0_N_32, filter_fall_cnt5_0_N_39})
);
// @6:79
  CARRY4 filter_rise_cnt6_0_I_51 (
	.CO({NC18, filter_rise_cnt6, filter_rise_cnt6_0_data_tmp[5:4]}),
	.O({NC19, filter_rise_cnt6_0_I_51_O[2:0]}),
	.CI(filter_rise_cnt6_0_data_tmp[3]),
	.CYINIT(GND),
	.DI({GND, GND, GND, GND}),
	.S({GND, filter_rise_cnt6_0_N_3_i, filter_rise_cnt6_0_N_4, filter_rise_cnt6_0_N_11})
);
// @6:79
  CARRY4 filter_rise_cnt6_0_I_19 (
	.CO(filter_rise_cnt6_0_data_tmp[3:0]),
	.O(filter_rise_cnt6_0_I_19_O[3:0]),
	.CI(GND),
	.CYINIT(VCC),
	.DI({GND, GND, GND, GND}),
	.S({filter_rise_cnt6_0_N_25, filter_rise_cnt6_0_N_18, filter_rise_cnt6_0_N_32, filter_rise_cnt6_0_N_39})
);
// @6:112
  FD filter_sig_Z (
	.Q(filter_sig),
	.D(N_3_0),
	.C(clk_c)
);
defparam filter_sig_Z.INIT=1'b0;
  BUFG clk_ibuf (
	.I(clk_ibuf_iso),
	.O(clk_c)
);
  IBUFG clk_ibuf_iso_cZ (
	.O(clk_ibuf_iso),
	.I(clk)
);
// @6:93
  INV \filter_fall_cnt_s_fast_cZ[0]  (
	.I(filter_fall_cnt_fast[0]),
	.O(filter_fall_cnt_s_fast[0])
);
// @6:74
  INV \filter_rise_cnt_s_fast_cZ[0]  (
	.I(filter_rise_cnt_fast[0]),
	.O(filter_rise_cnt_s_fast[0])
);
// @6:74
  INV \filter_rise_cnt_s_cZ[0]  (
	.I(filter_rise_cnt[0]),
	.O(filter_rise_cnt_s[0])
);
// @6:93
  INV \filter_fall_cnt_s_cZ[0]  (
	.I(filter_fall_cnt[0]),
	.O(filter_fall_cnt_s[0])
);
// @6:74
  INV i_din_ibuf_RNI8HME (
	.I(i_din_c),
	.O(i_din_c_i)
);
// @6:63
  FDE \filter_fall_reg_Z[0]  (
	.Q(filter_fall_reg[0]),
	.D(iv_filter_fall_c_i[0]),
	.C(clk_c),
	.CE(filter_fall_reg8)
);
// @6:63
  FDE \filter_fall_reg_Z[1]  (
	.Q(filter_fall_reg[1]),
	.D(un1_filter_fall_reg_cry_3_O[1]),
	.C(clk_c),
	.CE(filter_fall_reg8)
);
// @6:63
  FDE \filter_fall_reg_Z[2]  (
	.Q(filter_fall_reg[2]),
	.D(un1_filter_fall_reg_cry_3_O[2]),
	.C(clk_c),
	.CE(filter_fall_reg8)
);
// @6:63
  FDE \filter_fall_reg_Z[3]  (
	.Q(filter_fall_reg[3]),
	.D(un1_filter_fall_reg_cry_3_O[3]),
	.C(clk_c),
	.CE(filter_fall_reg8)
);
// @6:63
  FDE \filter_fall_reg_Z[4]  (
	.Q(filter_fall_reg[4]),
	.D(un1_filter_fall_reg_cry_7_O[0]),
	.C(clk_c),
	.CE(filter_fall_reg8)
);
// @6:63
  FDE \filter_fall_reg_Z[5]  (
	.Q(filter_fall_reg[5]),
	.D(un1_filter_fall_reg_cry_7_O[1]),
	.C(clk_c),
	.CE(filter_fall_reg8)
);
// @6:63
  FDE \filter_fall_reg_Z[6]  (
	.Q(filter_fall_reg[6]),
	.D(un1_filter_fall_reg_cry_7_O[2]),
	.C(clk_c),
	.CE(filter_fall_reg8)
);
// @6:63
  FDE \filter_fall_reg_Z[7]  (
	.Q(filter_fall_reg[7]),
	.D(un1_filter_fall_reg_cry_7_O[3]),
	.C(clk_c),
	.CE(filter_fall_reg8)
);
// @6:63
  FDE \filter_fall_reg_Z[8]  (
	.Q(filter_fall_reg[8]),
	.D(un1_filter_fall_reg_cry_11_O[0]),
	.C(clk_c),
	.CE(filter_fall_reg8)
);
// @6:63
  FDE \filter_fall_reg_Z[9]  (
	.Q(filter_fall_reg[9]),
	.D(un1_filter_fall_reg_cry_11_O[1]),
	.C(clk_c),
	.CE(filter_fall_reg8)
);
// @6:63
  FDE \filter_fall_reg_Z[10]  (
	.Q(filter_fall_reg[10]),
	.D(un1_filter_fall_reg_cry_11_O[2]),
	.C(clk_c),
	.CE(filter_fall_reg8)
);
// @6:63
  FDE \filter_fall_reg_Z[11]  (
	.Q(filter_fall_reg[11]),
	.D(un1_filter_fall_reg_cry_11_O[3]),
	.C(clk_c),
	.CE(filter_fall_reg8)
);
// @6:63
  FDE \filter_fall_reg_Z[12]  (
	.Q(filter_fall_reg[12]),
	.D(un1_filter_fall_reg_cry_15_O[0]),
	.C(clk_c),
	.CE(filter_fall_reg8)
);
// @6:63
  FDE \filter_fall_reg_Z[13]  (
	.Q(filter_fall_reg[13]),
	.D(un1_filter_fall_reg_cry_15_O[1]),
	.C(clk_c),
	.CE(filter_fall_reg8)
);
// @6:63
  FDE \filter_fall_reg_Z[14]  (
	.Q(filter_fall_reg[14]),
	.D(un1_filter_fall_reg_cry_15_O[2]),
	.C(clk_c),
	.CE(filter_fall_reg8)
);
// @6:63
  FDE \filter_fall_reg_Z[15]  (
	.Q(filter_fall_reg[15]),
	.D(un1_filter_fall_reg_cry_15_O[3]),
	.C(clk_c),
	.CE(filter_fall_reg8)
);
// @6:63
  FDE \filter_fall_reg_Z[16]  (
	.Q(filter_fall_reg[16]),
	.D(un1_filter_fall_reg_s_18_O[0]),
	.C(clk_c),
	.CE(filter_fall_reg8)
);
// @6:63
  FDE \filter_fall_reg_Z[17]  (
	.Q(filter_fall_reg[17]),
	.D(un1_filter_fall_reg_s_18_O[1]),
	.C(clk_c),
	.CE(filter_fall_reg8)
);
// @6:63
  FDE \filter_fall_reg_Z[18]  (
	.Q(filter_fall_reg[18]),
	.D(un1_filter_fall_reg_s_18_O[2]),
	.C(clk_c),
	.CE(filter_fall_reg8)
);
// @6:57
  FDE \filter_rise_reg_Z[0]  (
	.Q(filter_rise_reg[0]),
	.D(iv_filter_rise_c_i[0]),
	.C(clk_c),
	.CE(filter_rise_reg10)
);
// @6:57
  FDE \filter_rise_reg_Z[1]  (
	.Q(filter_rise_reg[1]),
	.D(un1_filter_rise_reg_cry_3_O[1]),
	.C(clk_c),
	.CE(filter_rise_reg10)
);
// @6:57
  FDE \filter_rise_reg_Z[2]  (
	.Q(filter_rise_reg[2]),
	.D(un1_filter_rise_reg_cry_3_O[2]),
	.C(clk_c),
	.CE(filter_rise_reg10)
);
// @6:57
  FDE \filter_rise_reg_Z[3]  (
	.Q(filter_rise_reg[3]),
	.D(un1_filter_rise_reg_cry_3_O[3]),
	.C(clk_c),
	.CE(filter_rise_reg10)
);
// @6:57
  FDE \filter_rise_reg_Z[4]  (
	.Q(filter_rise_reg[4]),
	.D(un1_filter_rise_reg_cry_7_O[0]),
	.C(clk_c),
	.CE(filter_rise_reg10)
);
// @6:57
  FDE \filter_rise_reg_Z[5]  (
	.Q(filter_rise_reg[5]),
	.D(un1_filter_rise_reg_cry_7_O[1]),
	.C(clk_c),
	.CE(filter_rise_reg10)
);
// @6:57
  FDE \filter_rise_reg_Z[6]  (
	.Q(filter_rise_reg[6]),
	.D(un1_filter_rise_reg_cry_7_O[2]),
	.C(clk_c),
	.CE(filter_rise_reg10)
);
// @6:57
  FDE \filter_rise_reg_Z[7]  (
	.Q(filter_rise_reg[7]),
	.D(un1_filter_rise_reg_cry_7_O[3]),
	.C(clk_c),
	.CE(filter_rise_reg10)
);
// @6:57
  FDE \filter_rise_reg_Z[8]  (
	.Q(filter_rise_reg[8]),
	.D(un1_filter_rise_reg_cry_11_O[0]),
	.C(clk_c),
	.CE(filter_rise_reg10)
);
// @6:57
  FDE \filter_rise_reg_Z[9]  (
	.Q(filter_rise_reg[9]),
	.D(un1_filter_rise_reg_cry_11_O[1]),
	.C(clk_c),
	.CE(filter_rise_reg10)
);
// @6:57
  FDE \filter_rise_reg_Z[10]  (
	.Q(filter_rise_reg[10]),
	.D(un1_filter_rise_reg_cry_11_O[2]),
	.C(clk_c),
	.CE(filter_rise_reg10)
);
// @6:57
  FDE \filter_rise_reg_Z[11]  (
	.Q(filter_rise_reg[11]),
	.D(un1_filter_rise_reg_cry_11_O[3]),
	.C(clk_c),
	.CE(filter_rise_reg10)
);
// @6:57
  FDE \filter_rise_reg_Z[12]  (
	.Q(filter_rise_reg[12]),
	.D(un1_filter_rise_reg_cry_15_O[0]),
	.C(clk_c),
	.CE(filter_rise_reg10)
);
// @6:57
  FDE \filter_rise_reg_Z[13]  (
	.Q(filter_rise_reg[13]),
	.D(un1_filter_rise_reg_cry_15_O[1]),
	.C(clk_c),
	.CE(filter_rise_reg10)
);
// @6:57
  FDE \filter_rise_reg_Z[14]  (
	.Q(filter_rise_reg[14]),
	.D(un1_filter_rise_reg_cry_15_O[2]),
	.C(clk_c),
	.CE(filter_rise_reg10)
);
// @6:57
  FDE \filter_rise_reg_Z[15]  (
	.Q(filter_rise_reg[15]),
	.D(un1_filter_rise_reg_cry_15_O[3]),
	.C(clk_c),
	.CE(filter_rise_reg10)
);
// @6:57
  FDE \filter_rise_reg_Z[16]  (
	.Q(filter_rise_reg[16]),
	.D(un1_filter_rise_reg_s_18_O[0]),
	.C(clk_c),
	.CE(filter_rise_reg10)
);
// @6:57
  FDE \filter_rise_reg_Z[17]  (
	.Q(filter_rise_reg[17]),
	.D(un1_filter_rise_reg_s_18_O[1]),
	.C(clk_c),
	.CE(filter_rise_reg10)
);
// @6:57
  FDE \filter_rise_reg_Z[18]  (
	.Q(filter_rise_reg[18]),
	.D(un1_filter_rise_reg_s_18_O[2]),
	.C(clk_c),
	.CE(filter_rise_reg10)
);
// @6:93
  LUT3 filter_fall_cnt5_i_cZ (
	.I0(filter_fall_cnt5_0_N_3_i),
	.I1(filter_fall_cnt5_0_N_4),
	.I2(filter_fall_cnt5_0_data_tmp[4]),
	.O(filter_fall_cnt5_i)
);
defparam filter_fall_cnt5_i_cZ.INIT=8'h7F;
// @6:74
  LUT3 filter_rise_cnt6_i_cZ (
	.I0(filter_rise_cnt6_0_N_3_i),
	.I1(filter_rise_cnt6_0_N_4),
	.I2(filter_rise_cnt6_0_data_tmp[4]),
	.O(filter_rise_cnt6_i)
);
defparam filter_rise_cnt6_i_cZ.INIT=8'h7F;
// @6:93
  FDRE \filter_fall_cnt_fast_Z[0]  (
	.Q(filter_fall_cnt_fast[0]),
	.D(filter_fall_cnt_s_fast[0]),
	.C(clk_c),
	.R(i_din_c),
	.CE(filter_fall_cnt5_i)
);
// @6:74
  FDRE \filter_rise_cnt_fast_Z[0]  (
	.Q(filter_rise_cnt_fast[0]),
	.D(filter_rise_cnt_s_fast[0]),
	.C(clk_c),
	.R(i_din_c_i),
	.CE(filter_rise_cnt6_i)
);
  LUT1_L \filter_fall_cnt_cry_RNO[4]  (
	.I0(filter_fall_cnt[1]),
	.LO(filter_fall_cnt_s_sf[1])
);
defparam \filter_fall_cnt_cry_RNO[4] .INIT=2'h2;
  LUT1_L \filter_fall_cnt_cry_RNO_0[4]  (
	.I0(filter_fall_cnt[2]),
	.LO(filter_fall_cnt_s_sf[2])
);
defparam \filter_fall_cnt_cry_RNO_0[4] .INIT=2'h2;
  LUT1_L \filter_fall_cnt_cry_RNO_1[4]  (
	.I0(filter_fall_cnt[3]),
	.LO(filter_fall_cnt_s_sf[3])
);
defparam \filter_fall_cnt_cry_RNO_1[4] .INIT=2'h2;
  LUT1_L \filter_fall_cnt_cry_RNO_2[4]  (
	.I0(filter_fall_cnt[4]),
	.LO(filter_fall_cnt_s_sf[4])
);
defparam \filter_fall_cnt_cry_RNO_2[4] .INIT=2'h2;
  LUT1_L \filter_fall_cnt_cry_RNO[8]  (
	.I0(filter_fall_cnt[5]),
	.LO(filter_fall_cnt_s_sf[5])
);
defparam \filter_fall_cnt_cry_RNO[8] .INIT=2'h2;
  LUT1_L \filter_fall_cnt_cry_RNO_0[8]  (
	.I0(filter_fall_cnt[6]),
	.LO(filter_fall_cnt_s_sf[6])
);
defparam \filter_fall_cnt_cry_RNO_0[8] .INIT=2'h2;
  LUT1_L \filter_fall_cnt_cry_RNO_1[8]  (
	.I0(filter_fall_cnt[7]),
	.LO(filter_fall_cnt_s_sf[7])
);
defparam \filter_fall_cnt_cry_RNO_1[8] .INIT=2'h2;
  LUT1_L \filter_fall_cnt_cry_RNO_2[8]  (
	.I0(filter_fall_cnt[8]),
	.LO(filter_fall_cnt_s_sf[8])
);
defparam \filter_fall_cnt_cry_RNO_2[8] .INIT=2'h2;
  LUT1_L \filter_fall_cnt_cry_RNO[12]  (
	.I0(filter_fall_cnt[9]),
	.LO(filter_fall_cnt_s_sf[9])
);
defparam \filter_fall_cnt_cry_RNO[12] .INIT=2'h2;
  LUT1_L \filter_fall_cnt_cry_RNO_0[12]  (
	.I0(filter_fall_cnt[10]),
	.LO(filter_fall_cnt_s_sf[10])
);
defparam \filter_fall_cnt_cry_RNO_0[12] .INIT=2'h2;
  LUT1_L \filter_fall_cnt_cry_RNO_1[12]  (
	.I0(filter_fall_cnt[11]),
	.LO(filter_fall_cnt_s_sf[11])
);
defparam \filter_fall_cnt_cry_RNO_1[12] .INIT=2'h2;
  LUT1_L \filter_fall_cnt_cry_RNO_2[12]  (
	.I0(filter_fall_cnt[12]),
	.LO(filter_fall_cnt_s_sf[12])
);
defparam \filter_fall_cnt_cry_RNO_2[12] .INIT=2'h2;
  LUT1_L \filter_fall_cnt_cry_RNO[16]  (
	.I0(filter_fall_cnt[13]),
	.LO(filter_fall_cnt_s_sf[13])
);
defparam \filter_fall_cnt_cry_RNO[16] .INIT=2'h2;
  LUT1_L \filter_fall_cnt_cry_RNO_0[16]  (
	.I0(filter_fall_cnt[14]),
	.LO(filter_fall_cnt_s_sf[14])
);
defparam \filter_fall_cnt_cry_RNO_0[16] .INIT=2'h2;
  LUT1_L \filter_fall_cnt_cry_RNO_1[16]  (
	.I0(filter_fall_cnt[15]),
	.LO(filter_fall_cnt_s_sf[15])
);
defparam \filter_fall_cnt_cry_RNO_1[16] .INIT=2'h2;
  LUT1_L \filter_fall_cnt_cry_RNO_2[16]  (
	.I0(filter_fall_cnt[16]),
	.LO(filter_fall_cnt_s_sf[16])
);
defparam \filter_fall_cnt_cry_RNO_2[16] .INIT=2'h2;
  LUT1_L \filter_fall_cnt_s_RNO[18]  (
	.I0(filter_fall_cnt[17]),
	.LO(filter_fall_cnt_s_sf[17])
);
defparam \filter_fall_cnt_s_RNO[18] .INIT=2'h2;
  LUT1_L \filter_fall_cnt_s_RNO_0[18]  (
	.I0(filter_fall_cnt[18]),
	.LO(filter_fall_cnt_s_sf[18])
);
defparam \filter_fall_cnt_s_RNO_0[18] .INIT=2'h2;
  LUT1_L \filter_rise_cnt_cry_RNO[4]  (
	.I0(filter_rise_cnt[1]),
	.LO(filter_rise_cnt_s_sf[1])
);
defparam \filter_rise_cnt_cry_RNO[4] .INIT=2'h2;
  LUT1_L \filter_rise_cnt_cry_RNO_0[4]  (
	.I0(filter_rise_cnt[2]),
	.LO(filter_rise_cnt_s_sf[2])
);
defparam \filter_rise_cnt_cry_RNO_0[4] .INIT=2'h2;
  LUT1_L \filter_rise_cnt_cry_RNO_1[4]  (
	.I0(filter_rise_cnt[3]),
	.LO(filter_rise_cnt_s_sf[3])
);
defparam \filter_rise_cnt_cry_RNO_1[4] .INIT=2'h2;
  LUT1_L \filter_rise_cnt_cry_RNO_2[4]  (
	.I0(filter_rise_cnt[4]),
	.LO(filter_rise_cnt_s_sf[4])
);
defparam \filter_rise_cnt_cry_RNO_2[4] .INIT=2'h2;
  LUT1_L \filter_rise_cnt_cry_RNO[8]  (
	.I0(filter_rise_cnt[5]),
	.LO(filter_rise_cnt_s_sf[5])
);
defparam \filter_rise_cnt_cry_RNO[8] .INIT=2'h2;
  LUT1_L \filter_rise_cnt_cry_RNO_0[8]  (
	.I0(filter_rise_cnt[6]),
	.LO(filter_rise_cnt_s_sf[6])
);
defparam \filter_rise_cnt_cry_RNO_0[8] .INIT=2'h2;
  LUT1_L \filter_rise_cnt_cry_RNO_1[8]  (
	.I0(filter_rise_cnt[7]),
	.LO(filter_rise_cnt_s_sf[7])
);
defparam \filter_rise_cnt_cry_RNO_1[8] .INIT=2'h2;
  LUT1_L \filter_rise_cnt_cry_RNO_2[8]  (
	.I0(filter_rise_cnt[8]),
	.LO(filter_rise_cnt_s_sf[8])
);
defparam \filter_rise_cnt_cry_RNO_2[8] .INIT=2'h2;
  LUT1_L \filter_rise_cnt_cry_RNO[12]  (
	.I0(filter_rise_cnt[9]),
	.LO(filter_rise_cnt_s_sf[9])
);
defparam \filter_rise_cnt_cry_RNO[12] .INIT=2'h2;
  LUT1_L \filter_rise_cnt_cry_RNO_0[12]  (
	.I0(filter_rise_cnt[10]),
	.LO(filter_rise_cnt_s_sf[10])
);
defparam \filter_rise_cnt_cry_RNO_0[12] .INIT=2'h2;
  LUT1_L \filter_rise_cnt_cry_RNO_1[12]  (
	.I0(filter_rise_cnt[11]),
	.LO(filter_rise_cnt_s_sf[11])
);
defparam \filter_rise_cnt_cry_RNO_1[12] .INIT=2'h2;
  LUT1_L \filter_rise_cnt_cry_RNO_2[12]  (
	.I0(filter_rise_cnt[12]),
	.LO(filter_rise_cnt_s_sf[12])
);
defparam \filter_rise_cnt_cry_RNO_2[12] .INIT=2'h2;
  LUT1_L \filter_rise_cnt_cry_RNO[16]  (
	.I0(filter_rise_cnt[13]),
	.LO(filter_rise_cnt_s_sf[13])
);
defparam \filter_rise_cnt_cry_RNO[16] .INIT=2'h2;
  LUT1_L \filter_rise_cnt_cry_RNO_0[16]  (
	.I0(filter_rise_cnt[14]),
	.LO(filter_rise_cnt_s_sf[14])
);
defparam \filter_rise_cnt_cry_RNO_0[16] .INIT=2'h2;
  LUT1_L \filter_rise_cnt_cry_RNO_1[16]  (
	.I0(filter_rise_cnt[15]),
	.LO(filter_rise_cnt_s_sf[15])
);
defparam \filter_rise_cnt_cry_RNO_1[16] .INIT=2'h2;
  LUT1_L \filter_rise_cnt_cry_RNO_2[16]  (
	.I0(filter_rise_cnt[16]),
	.LO(filter_rise_cnt_s_sf[16])
);
defparam \filter_rise_cnt_cry_RNO_2[16] .INIT=2'h2;
  LUT1_L \filter_rise_cnt_s_RNO[18]  (
	.I0(filter_rise_cnt[17]),
	.LO(filter_rise_cnt_s_sf[17])
);
defparam \filter_rise_cnt_s_RNO[18] .INIT=2'h2;
  LUT1_L \filter_rise_cnt_s_RNO_0[18]  (
	.I0(filter_rise_cnt[18]),
	.LO(filter_rise_cnt_s_sf[18])
);
defparam \filter_rise_cnt_s_RNO_0[18] .INIT=2'h2;
// @6:65
  LUT1_L un1_filter_fall_reg_s_18_RNO_1 (
	.I0(iv_filter_fall_c[18]),
	.LO(un1_filter_fall_reg_axb_18)
);
defparam un1_filter_fall_reg_s_18_RNO_1.INIT=2'h2;
// @6:65
  LUT1_L un1_filter_fall_reg_s_18_RNO_0 (
	.I0(iv_filter_fall_c[17]),
	.LO(un1_filter_fall_reg_axb_17)
);
defparam un1_filter_fall_reg_s_18_RNO_0.INIT=2'h2;
// @6:65
  LUT1_L un1_filter_fall_reg_s_18_RNO (
	.I0(iv_filter_fall_c[16]),
	.LO(un1_filter_fall_reg_axb_16)
);
defparam un1_filter_fall_reg_s_18_RNO.INIT=2'h2;
// @6:65
  LUT1_L un1_filter_fall_reg_cry_15_RNO_2 (
	.I0(iv_filter_fall_c[15]),
	.LO(un1_filter_fall_reg_axb_15)
);
defparam un1_filter_fall_reg_cry_15_RNO_2.INIT=2'h2;
// @6:65
  LUT1_L un1_filter_fall_reg_cry_15_RNO_1 (
	.I0(iv_filter_fall_c[14]),
	.LO(un1_filter_fall_reg_axb_14)
);
defparam un1_filter_fall_reg_cry_15_RNO_1.INIT=2'h2;
// @6:65
  LUT1_L un1_filter_fall_reg_cry_15_RNO_0 (
	.I0(iv_filter_fall_c[13]),
	.LO(un1_filter_fall_reg_axb_13)
);
defparam un1_filter_fall_reg_cry_15_RNO_0.INIT=2'h2;
// @6:65
  LUT1_L un1_filter_fall_reg_cry_15_RNO (
	.I0(iv_filter_fall_c[12]),
	.LO(un1_filter_fall_reg_axb_12)
);
defparam un1_filter_fall_reg_cry_15_RNO.INIT=2'h2;
// @6:65
  LUT1_L un1_filter_fall_reg_cry_11_RNO_2 (
	.I0(iv_filter_fall_c[11]),
	.LO(un1_filter_fall_reg_axb_11)
);
defparam un1_filter_fall_reg_cry_11_RNO_2.INIT=2'h2;
// @6:65
  LUT1_L un1_filter_fall_reg_cry_11_RNO_1 (
	.I0(iv_filter_fall_c[10]),
	.LO(un1_filter_fall_reg_axb_10)
);
defparam un1_filter_fall_reg_cry_11_RNO_1.INIT=2'h2;
// @6:65
  LUT1_L un1_filter_fall_reg_cry_11_RNO_0 (
	.I0(iv_filter_fall_c[9]),
	.LO(un1_filter_fall_reg_axb_9)
);
defparam un1_filter_fall_reg_cry_11_RNO_0.INIT=2'h2;
// @6:65
  LUT1_L un1_filter_fall_reg_cry_11_RNO (
	.I0(iv_filter_fall_c[8]),
	.LO(un1_filter_fall_reg_axb_8)
);
defparam un1_filter_fall_reg_cry_11_RNO.INIT=2'h2;
// @6:65
  LUT1_L un1_filter_fall_reg_cry_7_RNO_2 (
	.I0(iv_filter_fall_c[7]),
	.LO(un1_filter_fall_reg_axb_7)
);
defparam un1_filter_fall_reg_cry_7_RNO_2.INIT=2'h2;
// @6:65
  LUT1_L un1_filter_fall_reg_cry_7_RNO_1 (
	.I0(iv_filter_fall_c[6]),
	.LO(un1_filter_fall_reg_axb_6)
);
defparam un1_filter_fall_reg_cry_7_RNO_1.INIT=2'h2;
// @6:65
  LUT1_L un1_filter_fall_reg_cry_7_RNO_0 (
	.I0(iv_filter_fall_c[5]),
	.LO(un1_filter_fall_reg_axb_5)
);
defparam un1_filter_fall_reg_cry_7_RNO_0.INIT=2'h2;
// @6:65
  LUT1_L un1_filter_fall_reg_cry_7_RNO (
	.I0(iv_filter_fall_c[4]),
	.LO(un1_filter_fall_reg_axb_4)
);
defparam un1_filter_fall_reg_cry_7_RNO.INIT=2'h2;
// @6:65
  LUT1_L un1_filter_fall_reg_cry_3_RNO_1 (
	.I0(iv_filter_fall_c[3]),
	.LO(iv_filter_fall_c_i[3])
);
defparam un1_filter_fall_reg_cry_3_RNO_1.INIT=2'h1;
// @6:65
  LUT1_L un1_filter_fall_reg_cry_3_RNO_0 (
	.I0(iv_filter_fall_c[2]),
	.LO(un1_filter_fall_reg_axb_2)
);
defparam un1_filter_fall_reg_cry_3_RNO_0.INIT=2'h2;
// @6:65
  LUT1_L un1_filter_fall_reg_cry_3_RNO (
	.I0(iv_filter_fall_c[1]),
	.LO(un1_filter_fall_reg_axb_1)
);
defparam un1_filter_fall_reg_cry_3_RNO.INIT=2'h2;
// @6:65
  LUT1 \iv_filter_fall_ibuf_RNIFPS7[0]  (
	.I0(iv_filter_fall_c[0]),
	.O(iv_filter_fall_c_i[0])
);
defparam \iv_filter_fall_ibuf_RNIFPS7[0] .INIT=2'h1;
// @6:59
  LUT1_L un1_filter_rise_reg_s_18_RNO_1 (
	.I0(iv_filter_rise_c[18]),
	.LO(un1_filter_rise_reg_axb_18)
);
defparam un1_filter_rise_reg_s_18_RNO_1.INIT=2'h2;
// @6:59
  LUT1_L un1_filter_rise_reg_s_18_RNO_0 (
	.I0(iv_filter_rise_c[17]),
	.LO(un1_filter_rise_reg_axb_17)
);
defparam un1_filter_rise_reg_s_18_RNO_0.INIT=2'h2;
// @6:59
  LUT1_L un1_filter_rise_reg_s_18_RNO (
	.I0(iv_filter_rise_c[16]),
	.LO(un1_filter_rise_reg_axb_16)
);
defparam un1_filter_rise_reg_s_18_RNO.INIT=2'h2;
// @6:59
  LUT1_L un1_filter_rise_reg_cry_15_RNO_2 (
	.I0(iv_filter_rise_c[15]),
	.LO(un1_filter_rise_reg_axb_15)
);
defparam un1_filter_rise_reg_cry_15_RNO_2.INIT=2'h2;
// @6:59
  LUT1_L un1_filter_rise_reg_cry_15_RNO_1 (
	.I0(iv_filter_rise_c[14]),
	.LO(un1_filter_rise_reg_axb_14)
);
defparam un1_filter_rise_reg_cry_15_RNO_1.INIT=2'h2;
// @6:59
  LUT1_L un1_filter_rise_reg_cry_15_RNO_0 (
	.I0(iv_filter_rise_c[13]),
	.LO(un1_filter_rise_reg_axb_13)
);
defparam un1_filter_rise_reg_cry_15_RNO_0.INIT=2'h2;
// @6:59
  LUT1_L un1_filter_rise_reg_cry_15_RNO (
	.I0(iv_filter_rise_c[12]),
	.LO(un1_filter_rise_reg_axb_12)
);
defparam un1_filter_rise_reg_cry_15_RNO.INIT=2'h2;
// @6:59
  LUT1_L un1_filter_rise_reg_cry_11_RNO_2 (
	.I0(iv_filter_rise_c[11]),
	.LO(un1_filter_rise_reg_axb_11)
);
defparam un1_filter_rise_reg_cry_11_RNO_2.INIT=2'h2;
// @6:59
  LUT1_L un1_filter_rise_reg_cry_11_RNO_1 (
	.I0(iv_filter_rise_c[10]),
	.LO(un1_filter_rise_reg_axb_10)
);
defparam un1_filter_rise_reg_cry_11_RNO_1.INIT=2'h2;
// @6:59
  LUT1_L un1_filter_rise_reg_cry_11_RNO_0 (
	.I0(iv_filter_rise_c[9]),
	.LO(un1_filter_rise_reg_axb_9)
);
defparam un1_filter_rise_reg_cry_11_RNO_0.INIT=2'h2;
// @6:59
  LUT1_L un1_filter_rise_reg_cry_11_RNO (
	.I0(iv_filter_rise_c[8]),
	.LO(un1_filter_rise_reg_axb_8)
);
defparam un1_filter_rise_reg_cry_11_RNO.INIT=2'h2;
// @6:59
  LUT1_L un1_filter_rise_reg_cry_7_RNO_2 (
	.I0(iv_filter_rise_c[7]),
	.LO(un1_filter_rise_reg_axb_7)
);
defparam un1_filter_rise_reg_cry_7_RNO_2.INIT=2'h2;
// @6:59
  LUT1_L un1_filter_rise_reg_cry_7_RNO_1 (
	.I0(iv_filter_rise_c[6]),
	.LO(un1_filter_rise_reg_axb_6)
);
defparam un1_filter_rise_reg_cry_7_RNO_1.INIT=2'h2;
// @6:59
  LUT1_L un1_filter_rise_reg_cry_7_RNO_0 (
	.I0(iv_filter_rise_c[5]),
	.LO(un1_filter_rise_reg_axb_5)
);
defparam un1_filter_rise_reg_cry_7_RNO_0.INIT=2'h2;
// @6:59
  LUT1_L un1_filter_rise_reg_cry_7_RNO (
	.I0(iv_filter_rise_c[4]),
	.LO(un1_filter_rise_reg_axb_4)
);
defparam un1_filter_rise_reg_cry_7_RNO.INIT=2'h2;
// @6:59
  LUT1_L un1_filter_rise_reg_cry_3_RNO_1 (
	.I0(iv_filter_rise_c[3]),
	.LO(iv_filter_rise_c_i[3])
);
defparam un1_filter_rise_reg_cry_3_RNO_1.INIT=2'h1;
// @6:59
  LUT1_L un1_filter_rise_reg_cry_3_RNO_0 (
	.I0(iv_filter_rise_c[2]),
	.LO(un1_filter_rise_reg_axb_2)
);
defparam un1_filter_rise_reg_cry_3_RNO_0.INIT=2'h2;
// @6:59
  LUT1_L un1_filter_rise_reg_cry_3_RNO (
	.I0(iv_filter_rise_c[1]),
	.LO(un1_filter_rise_reg_axb_1)
);
defparam un1_filter_rise_reg_cry_3_RNO.INIT=2'h2;
// @6:59
  LUT1 \iv_filter_rise_ibuf_RNI3LN9[0]  (
	.I0(iv_filter_rise_c[0]),
	.O(iv_filter_rise_c_i[0])
);
defparam \iv_filter_rise_ibuf_RNI3LN9[0] .INIT=2'h1;
// @6:46
  LUT4 filter_rise_reg10_2_cZ (
	.I0(filter_rise_cnt[14]),
	.I1(filter_rise_cnt[15]),
	.I2(filter_rise_cnt[16]),
	.I3(filter_rise_cnt[17]),
	.O(filter_rise_reg10_2)
);
defparam filter_rise_reg10_2_cZ.INIT=16'h0001;
// @6:46
  LUT4 filter_fall_reg8_2_cZ (
	.I0(filter_fall_cnt[14]),
	.I1(filter_fall_cnt[15]),
	.I2(filter_fall_cnt[16]),
	.I3(filter_fall_cnt[17]),
	.O(filter_fall_reg8_2)
);
defparam filter_fall_reg8_2_cZ.INIT=16'h0001;
// @6:98
  LUT2 filter_fall_cnt5_0_N_3_i_cZ (
	.I0(filter_fall_reg[18]),
	.I1(filter_fall_cnt[18]),
	.O(filter_fall_cnt5_0_N_3_i)
);
defparam filter_fall_cnt5_0_N_3_i_cZ.INIT=4'h9;
// @6:79
  LUT2 filter_rise_cnt6_0_N_3_i_cZ (
	.I0(filter_rise_reg[18]),
	.I1(filter_rise_cnt[18]),
	.O(filter_rise_cnt6_0_N_3_i)
);
defparam filter_rise_cnt6_0_N_3_i_cZ.INIT=4'h9;
// @6:46
  LUT6_L filter_rise_reg10_1_cZ (
	.I0(filter_rise_cnt[1]),
	.I1(filter_rise_cnt[2]),
	.I2(filter_rise_cnt[3]),
	.I3(filter_rise_cnt[4]),
	.I4(filter_rise_cnt[5]),
	.I5(filter_rise_cnt[0]),
	.LO(filter_rise_reg10_1)
);
defparam filter_rise_reg10_1_cZ.INIT=64'h0000000000000001;
// @6:46
  LUT6 filter_rise_reg10_0_cZ (
	.I0(filter_rise_cnt[6]),
	.I1(filter_rise_cnt[7]),
	.I2(filter_rise_cnt[8]),
	.I3(filter_rise_cnt[9]),
	.I4(filter_rise_cnt[10]),
	.I5(filter_rise_cnt[18]),
	.O(filter_rise_reg10_0)
);
defparam filter_rise_reg10_0_cZ.INIT=64'h0000000000000001;
// @6:46
  LUT6_L filter_fall_reg8_1_cZ (
	.I0(filter_fall_cnt[1]),
	.I1(filter_fall_cnt[2]),
	.I2(filter_fall_cnt[3]),
	.I3(filter_fall_cnt[4]),
	.I4(filter_fall_cnt[5]),
	.I5(filter_fall_cnt[0]),
	.LO(filter_fall_reg8_1)
);
defparam filter_fall_reg8_1_cZ.INIT=64'h0000000000000001;
// @6:46
  LUT6 filter_fall_reg8_0_cZ (
	.I0(filter_fall_cnt[6]),
	.I1(filter_fall_cnt[7]),
	.I2(filter_fall_cnt[8]),
	.I3(filter_fall_cnt[9]),
	.I4(filter_fall_cnt[10]),
	.I5(filter_fall_cnt[18]),
	.O(filter_fall_reg8_0)
);
defparam filter_fall_reg8_0_cZ.INIT=64'h0000000000000001;
// @6:98
  LUT6 filter_fall_cnt5_0_I_10 (
	.I0(filter_fall_cnt_fast[0]),
	.I1(filter_fall_reg[0]),
	.I2(filter_fall_reg[1]),
	.I3(filter_fall_reg[2]),
	.I4(filter_fall_cnt[1]),
	.I5(filter_fall_cnt[2]),
	.O(filter_fall_cnt5_0_N_39)
);
defparam filter_fall_cnt5_0_I_10.INIT=64'h9000090000900009;
// @6:98
  LUT6 filter_fall_cnt5_0_I_26 (
	.I0(filter_fall_reg[9]),
	.I1(filter_fall_reg[10]),
	.I2(filter_fall_reg[11]),
	.I3(filter_fall_cnt[9]),
	.I4(filter_fall_cnt[10]),
	.I5(filter_fall_cnt[11]),
	.O(filter_fall_cnt5_0_N_25)
);
defparam filter_fall_cnt5_0_I_26.INIT=64'h8040201008040201;
// @6:98
  LUT6 filter_fall_cnt5_0_I_18 (
	.I0(filter_fall_reg[3]),
	.I1(filter_fall_reg[4]),
	.I2(filter_fall_reg[5]),
	.I3(filter_fall_cnt[3]),
	.I4(filter_fall_cnt[4]),
	.I5(filter_fall_cnt[5]),
	.O(filter_fall_cnt5_0_N_32)
);
defparam filter_fall_cnt5_0_I_18.INIT=64'h8040201008040201;
// @6:98
  LUT6 filter_fall_cnt5_0_I_42 (
	.I0(filter_fall_reg[12]),
	.I1(filter_fall_reg[13]),
	.I2(filter_fall_reg[14]),
	.I3(filter_fall_cnt[12]),
	.I4(filter_fall_cnt[13]),
	.I5(filter_fall_cnt[14]),
	.O(filter_fall_cnt5_0_N_11)
);
defparam filter_fall_cnt5_0_I_42.INIT=64'h8040201008040201;
// @6:98
  LUT6 filter_fall_cnt5_0_I_34 (
	.I0(filter_fall_reg[6]),
	.I1(filter_fall_reg[7]),
	.I2(filter_fall_reg[8]),
	.I3(filter_fall_cnt[6]),
	.I4(filter_fall_cnt[7]),
	.I5(filter_fall_cnt[8]),
	.O(filter_fall_cnt5_0_N_18)
);
defparam filter_fall_cnt5_0_I_34.INIT=64'h8040201008040201;
// @6:98
  LUT6 filter_fall_cnt5_0_I_50 (
	.I0(filter_fall_reg[15]),
	.I1(filter_fall_reg[16]),
	.I2(filter_fall_reg[17]),
	.I3(filter_fall_cnt[15]),
	.I4(filter_fall_cnt[16]),
	.I5(filter_fall_cnt[17]),
	.O(filter_fall_cnt5_0_N_4)
);
defparam filter_fall_cnt5_0_I_50.INIT=64'h8040201008040201;
// @6:79
  LUT6 filter_rise_cnt6_0_I_10 (
	.I0(filter_rise_cnt_fast[0]),
	.I1(filter_rise_reg[0]),
	.I2(filter_rise_reg[1]),
	.I3(filter_rise_reg[2]),
	.I4(filter_rise_cnt[1]),
	.I5(filter_rise_cnt[2]),
	.O(filter_rise_cnt6_0_N_39)
);
defparam filter_rise_cnt6_0_I_10.INIT=64'h9000090000900009;
// @6:79
  LUT6 filter_rise_cnt6_0_I_26 (
	.I0(filter_rise_reg[9]),
	.I1(filter_rise_reg[10]),
	.I2(filter_rise_reg[11]),
	.I3(filter_rise_cnt[9]),
	.I4(filter_rise_cnt[10]),
	.I5(filter_rise_cnt[11]),
	.O(filter_rise_cnt6_0_N_25)
);
defparam filter_rise_cnt6_0_I_26.INIT=64'h8040201008040201;
// @6:79
  LUT6 filter_rise_cnt6_0_I_18 (
	.I0(filter_rise_reg[3]),
	.I1(filter_rise_reg[4]),
	.I2(filter_rise_reg[5]),
	.I3(filter_rise_cnt[3]),
	.I4(filter_rise_cnt[4]),
	.I5(filter_rise_cnt[5]),
	.O(filter_rise_cnt6_0_N_32)
);
defparam filter_rise_cnt6_0_I_18.INIT=64'h8040201008040201;
// @6:79
  LUT6 filter_rise_cnt6_0_I_42 (
	.I0(filter_rise_reg[12]),
	.I1(filter_rise_reg[13]),
	.I2(filter_rise_reg[14]),
	.I3(filter_rise_cnt[12]),
	.I4(filter_rise_cnt[13]),
	.I5(filter_rise_cnt[14]),
	.O(filter_rise_cnt6_0_N_11)
);
defparam filter_rise_cnt6_0_I_42.INIT=64'h8040201008040201;
// @6:79
  LUT6 filter_rise_cnt6_0_I_34 (
	.I0(filter_rise_reg[6]),
	.I1(filter_rise_reg[7]),
	.I2(filter_rise_reg[8]),
	.I3(filter_rise_cnt[6]),
	.I4(filter_rise_cnt[7]),
	.I5(filter_rise_cnt[8]),
	.O(filter_rise_cnt6_0_N_18)
);
defparam filter_rise_cnt6_0_I_34.INIT=64'h8040201008040201;
// @6:79
  LUT6 filter_rise_cnt6_0_I_50 (
	.I0(filter_rise_reg[15]),
	.I1(filter_rise_reg[16]),
	.I2(filter_rise_reg[17]),
	.I3(filter_rise_cnt[15]),
	.I4(filter_rise_cnt[16]),
	.I5(filter_rise_cnt[17]),
	.O(filter_rise_cnt6_0_N_4)
);
defparam filter_rise_cnt6_0_I_50.INIT=64'h8040201008040201;
// @6:46
  LUT6 filter_fall_reg8_cZ (
	.I0(filter_fall_cnt[11]),
	.I1(filter_fall_cnt[12]),
	.I2(filter_fall_cnt[13]),
	.I3(filter_fall_reg8_2),
	.I4(filter_fall_reg8_0),
	.I5(filter_fall_reg8_1),
	.O(filter_fall_reg8)
);
defparam filter_fall_reg8_cZ.INIT=64'h0100000000000000;
// @6:46
  LUT6 filter_rise_reg10_cZ (
	.I0(filter_rise_cnt[11]),
	.I1(filter_rise_cnt[12]),
	.I2(filter_rise_cnt[13]),
	.I3(filter_rise_reg10_2),
	.I4(filter_rise_reg10_0),
	.I5(filter_rise_reg10_1),
	.O(filter_rise_reg10)
);
defparam filter_rise_reg10_cZ.INIT=64'h0100000000000000;
// @6:74
  FDRE \filter_rise_cnt_Z[18]  (
	.Q(filter_rise_cnt[18]),
	.D(filter_rise_cnt_s[18]),
	.C(clk_c),
	.R(i_din_c_i),
	.CE(filter_rise_cnt6_i)
);
// @6:74
  FDRE \filter_rise_cnt_Z[17]  (
	.Q(filter_rise_cnt[17]),
	.D(filter_rise_cnt_s[17]),
	.C(clk_c),
	.R(i_din_c_i),
	.CE(filter_rise_cnt6_i)
);
// @6:74
  FDRE \filter_rise_cnt_Z[16]  (
	.Q(filter_rise_cnt[16]),
	.D(filter_rise_cnt_s[16]),
	.C(clk_c),
	.R(i_din_c_i),
	.CE(filter_rise_cnt6_i)
);
// @6:74
  FDRE \filter_rise_cnt_Z[15]  (
	.Q(filter_rise_cnt[15]),
	.D(filter_rise_cnt_s[15]),
	.C(clk_c),
	.R(i_din_c_i),
	.CE(filter_rise_cnt6_i)
);
// @6:74
  FDRE \filter_rise_cnt_Z[14]  (
	.Q(filter_rise_cnt[14]),
	.D(filter_rise_cnt_s[14]),
	.C(clk_c),
	.R(i_din_c_i),
	.CE(filter_rise_cnt6_i)
);
// @6:74
  FDRE \filter_rise_cnt_Z[13]  (
	.Q(filter_rise_cnt[13]),
	.D(filter_rise_cnt_s[13]),
	.C(clk_c),
	.R(i_din_c_i),
	.CE(filter_rise_cnt6_i)
);
// @6:74
  FDRE \filter_rise_cnt_Z[12]  (
	.Q(filter_rise_cnt[12]),
	.D(filter_rise_cnt_s[12]),
	.C(clk_c),
	.R(i_din_c_i),
	.CE(filter_rise_cnt6_i)
);
// @6:74
  FDRE \filter_rise_cnt_Z[11]  (
	.Q(filter_rise_cnt[11]),
	.D(filter_rise_cnt_s[11]),
	.C(clk_c),
	.R(i_din_c_i),
	.CE(filter_rise_cnt6_i)
);
// @6:74
  FDRE \filter_rise_cnt_Z[10]  (
	.Q(filter_rise_cnt[10]),
	.D(filter_rise_cnt_s[10]),
	.C(clk_c),
	.R(i_din_c_i),
	.CE(filter_rise_cnt6_i)
);
// @6:74
  FDRE \filter_rise_cnt_Z[9]  (
	.Q(filter_rise_cnt[9]),
	.D(filter_rise_cnt_s[9]),
	.C(clk_c),
	.R(i_din_c_i),
	.CE(filter_rise_cnt6_i)
);
// @6:74
  FDRE \filter_rise_cnt_Z[8]  (
	.Q(filter_rise_cnt[8]),
	.D(filter_rise_cnt_s[8]),
	.C(clk_c),
	.R(i_din_c_i),
	.CE(filter_rise_cnt6_i)
);
// @6:74
  FDRE \filter_rise_cnt_Z[7]  (
	.Q(filter_rise_cnt[7]),
	.D(filter_rise_cnt_s[7]),
	.C(clk_c),
	.R(i_din_c_i),
	.CE(filter_rise_cnt6_i)
);
// @6:74
  FDRE \filter_rise_cnt_Z[6]  (
	.Q(filter_rise_cnt[6]),
	.D(filter_rise_cnt_s[6]),
	.C(clk_c),
	.R(i_din_c_i),
	.CE(filter_rise_cnt6_i)
);
// @6:74
  FDRE \filter_rise_cnt_Z[5]  (
	.Q(filter_rise_cnt[5]),
	.D(filter_rise_cnt_s[5]),
	.C(clk_c),
	.R(i_din_c_i),
	.CE(filter_rise_cnt6_i)
);
// @6:74
  FDRE \filter_rise_cnt_Z[4]  (
	.Q(filter_rise_cnt[4]),
	.D(filter_rise_cnt_s[4]),
	.C(clk_c),
	.R(i_din_c_i),
	.CE(filter_rise_cnt6_i)
);
// @6:74
  FDRE \filter_rise_cnt_Z[3]  (
	.Q(filter_rise_cnt[3]),
	.D(filter_rise_cnt_s[3]),
	.C(clk_c),
	.R(i_din_c_i),
	.CE(filter_rise_cnt6_i)
);
// @6:74
  FDRE \filter_rise_cnt_Z[2]  (
	.Q(filter_rise_cnt[2]),
	.D(filter_rise_cnt_s[2]),
	.C(clk_c),
	.R(i_din_c_i),
	.CE(filter_rise_cnt6_i)
);
// @6:74
  FDRE \filter_rise_cnt_Z[1]  (
	.Q(filter_rise_cnt[1]),
	.D(filter_rise_cnt_s[1]),
	.C(clk_c),
	.R(i_din_c_i),
	.CE(filter_rise_cnt6_i)
);
// @6:74
  FDRE \filter_rise_cnt_Z[0]  (
	.Q(filter_rise_cnt[0]),
	.D(filter_rise_cnt_s[0]),
	.C(clk_c),
	.R(i_din_c_i),
	.CE(filter_rise_cnt6_i)
);
// @6:93
  FDRE \filter_fall_cnt_Z[18]  (
	.Q(filter_fall_cnt[18]),
	.D(filter_fall_cnt_s[18]),
	.C(clk_c),
	.R(i_din_c),
	.CE(filter_fall_cnt5_i)
);
// @6:93
  FDRE \filter_fall_cnt_Z[17]  (
	.Q(filter_fall_cnt[17]),
	.D(filter_fall_cnt_s[17]),
	.C(clk_c),
	.R(i_din_c),
	.CE(filter_fall_cnt5_i)
);
// @6:93
  FDRE \filter_fall_cnt_Z[16]  (
	.Q(filter_fall_cnt[16]),
	.D(filter_fall_cnt_s[16]),
	.C(clk_c),
	.R(i_din_c),
	.CE(filter_fall_cnt5_i)
);
// @6:93
  FDRE \filter_fall_cnt_Z[15]  (
	.Q(filter_fall_cnt[15]),
	.D(filter_fall_cnt_s[15]),
	.C(clk_c),
	.R(i_din_c),
	.CE(filter_fall_cnt5_i)
);
// @6:93
  FDRE \filter_fall_cnt_Z[14]  (
	.Q(filter_fall_cnt[14]),
	.D(filter_fall_cnt_s[14]),
	.C(clk_c),
	.R(i_din_c),
	.CE(filter_fall_cnt5_i)
);
// @6:93
  FDRE \filter_fall_cnt_Z[13]  (
	.Q(filter_fall_cnt[13]),
	.D(filter_fall_cnt_s[13]),
	.C(clk_c),
	.R(i_din_c),
	.CE(filter_fall_cnt5_i)
);
// @6:93
  FDRE \filter_fall_cnt_Z[12]  (
	.Q(filter_fall_cnt[12]),
	.D(filter_fall_cnt_s[12]),
	.C(clk_c),
	.R(i_din_c),
	.CE(filter_fall_cnt5_i)
);
// @6:93
  FDRE \filter_fall_cnt_Z[11]  (
	.Q(filter_fall_cnt[11]),
	.D(filter_fall_cnt_s[11]),
	.C(clk_c),
	.R(i_din_c),
	.CE(filter_fall_cnt5_i)
);
// @6:93
  FDRE \filter_fall_cnt_Z[10]  (
	.Q(filter_fall_cnt[10]),
	.D(filter_fall_cnt_s[10]),
	.C(clk_c),
	.R(i_din_c),
	.CE(filter_fall_cnt5_i)
);
// @6:93
  FDRE \filter_fall_cnt_Z[9]  (
	.Q(filter_fall_cnt[9]),
	.D(filter_fall_cnt_s[9]),
	.C(clk_c),
	.R(i_din_c),
	.CE(filter_fall_cnt5_i)
);
// @6:93
  FDRE \filter_fall_cnt_Z[8]  (
	.Q(filter_fall_cnt[8]),
	.D(filter_fall_cnt_s[8]),
	.C(clk_c),
	.R(i_din_c),
	.CE(filter_fall_cnt5_i)
);
// @6:93
  FDRE \filter_fall_cnt_Z[7]  (
	.Q(filter_fall_cnt[7]),
	.D(filter_fall_cnt_s[7]),
	.C(clk_c),
	.R(i_din_c),
	.CE(filter_fall_cnt5_i)
);
// @6:93
  FDRE \filter_fall_cnt_Z[6]  (
	.Q(filter_fall_cnt[6]),
	.D(filter_fall_cnt_s[6]),
	.C(clk_c),
	.R(i_din_c),
	.CE(filter_fall_cnt5_i)
);
// @6:93
  FDRE \filter_fall_cnt_Z[5]  (
	.Q(filter_fall_cnt[5]),
	.D(filter_fall_cnt_s[5]),
	.C(clk_c),
	.R(i_din_c),
	.CE(filter_fall_cnt5_i)
);
// @6:93
  FDRE \filter_fall_cnt_Z[4]  (
	.Q(filter_fall_cnt[4]),
	.D(filter_fall_cnt_s[4]),
	.C(clk_c),
	.R(i_din_c),
	.CE(filter_fall_cnt5_i)
);
// @6:93
  FDRE \filter_fall_cnt_Z[3]  (
	.Q(filter_fall_cnt[3]),
	.D(filter_fall_cnt_s[3]),
	.C(clk_c),
	.R(i_din_c),
	.CE(filter_fall_cnt5_i)
);
// @6:93
  FDRE \filter_fall_cnt_Z[2]  (
	.Q(filter_fall_cnt[2]),
	.D(filter_fall_cnt_s[2]),
	.C(clk_c),
	.R(i_din_c),
	.CE(filter_fall_cnt5_i)
);
// @6:93
  FDRE \filter_fall_cnt_Z[1]  (
	.Q(filter_fall_cnt[1]),
	.D(filter_fall_cnt_s[1]),
	.C(clk_c),
	.R(i_din_c),
	.CE(filter_fall_cnt5_i)
);
// @6:93
  FDRE \filter_fall_cnt_Z[0]  (
	.Q(filter_fall_cnt[0]),
	.D(filter_fall_cnt_s[0]),
	.C(clk_c),
	.R(i_din_c),
	.CE(filter_fall_cnt5_i)
);
// @6:39
  OBUF o_dout_obuf (
	.O(o_dout),
	.I(filter_sig)
);
// @6:38
  IBUF i_din_ibuf (
	.O(i_din_c),
	.I(i_din)
);
// @6:36
  IBUF \iv_filter_fall_ibuf[18]  (
	.O(iv_filter_fall_c[18]),
	.I(iv_filter_fall[18])
);
// @6:36
  IBUF \iv_filter_fall_ibuf[17]  (
	.O(iv_filter_fall_c[17]),
	.I(iv_filter_fall[17])
);
// @6:36
  IBUF \iv_filter_fall_ibuf[16]  (
	.O(iv_filter_fall_c[16]),
	.I(iv_filter_fall[16])
);
// @6:36
  IBUF \iv_filter_fall_ibuf[15]  (
	.O(iv_filter_fall_c[15]),
	.I(iv_filter_fall[15])
);
// @6:36
  IBUF \iv_filter_fall_ibuf[14]  (
	.O(iv_filter_fall_c[14]),
	.I(iv_filter_fall[14])
);
// @6:36
  IBUF \iv_filter_fall_ibuf[13]  (
	.O(iv_filter_fall_c[13]),
	.I(iv_filter_fall[13])
);
// @6:36
  IBUF \iv_filter_fall_ibuf[12]  (
	.O(iv_filter_fall_c[12]),
	.I(iv_filter_fall[12])
);
// @6:36
  IBUF \iv_filter_fall_ibuf[11]  (
	.O(iv_filter_fall_c[11]),
	.I(iv_filter_fall[11])
);
// @6:36
  IBUF \iv_filter_fall_ibuf[10]  (
	.O(iv_filter_fall_c[10]),
	.I(iv_filter_fall[10])
);
// @6:36
  IBUF \iv_filter_fall_ibuf[9]  (
	.O(iv_filter_fall_c[9]),
	.I(iv_filter_fall[9])
);
// @6:36
  IBUF \iv_filter_fall_ibuf[8]  (
	.O(iv_filter_fall_c[8]),
	.I(iv_filter_fall[8])
);
// @6:36
  IBUF \iv_filter_fall_ibuf[7]  (
	.O(iv_filter_fall_c[7]),
	.I(iv_filter_fall[7])
);
// @6:36
  IBUF \iv_filter_fall_ibuf[6]  (
	.O(iv_filter_fall_c[6]),
	.I(iv_filter_fall[6])
);
// @6:36
  IBUF \iv_filter_fall_ibuf[5]  (
	.O(iv_filter_fall_c[5]),
	.I(iv_filter_fall[5])
);
// @6:36
  IBUF \iv_filter_fall_ibuf[4]  (
	.O(iv_filter_fall_c[4]),
	.I(iv_filter_fall[4])
);
// @6:36
  IBUF \iv_filter_fall_ibuf[3]  (
	.O(iv_filter_fall_c[3]),
	.I(iv_filter_fall[3])
);
// @6:36
  IBUF \iv_filter_fall_ibuf[2]  (
	.O(iv_filter_fall_c[2]),
	.I(iv_filter_fall[2])
);
// @6:36
  IBUF \iv_filter_fall_ibuf[1]  (
	.O(iv_filter_fall_c[1]),
	.I(iv_filter_fall[1])
);
// @6:36
  IBUF \iv_filter_fall_ibuf[0]  (
	.O(iv_filter_fall_c[0]),
	.I(iv_filter_fall[0])
);
// @6:35
  IBUF \iv_filter_rise_ibuf[18]  (
	.O(iv_filter_rise_c[18]),
	.I(iv_filter_rise[18])
);
// @6:35
  IBUF \iv_filter_rise_ibuf[17]  (
	.O(iv_filter_rise_c[17]),
	.I(iv_filter_rise[17])
);
// @6:35
  IBUF \iv_filter_rise_ibuf[16]  (
	.O(iv_filter_rise_c[16]),
	.I(iv_filter_rise[16])
);
// @6:35
  IBUF \iv_filter_rise_ibuf[15]  (
	.O(iv_filter_rise_c[15]),
	.I(iv_filter_rise[15])
);
// @6:35
  IBUF \iv_filter_rise_ibuf[14]  (
	.O(iv_filter_rise_c[14]),
	.I(iv_filter_rise[14])
);
// @6:35
  IBUF \iv_filter_rise_ibuf[13]  (
	.O(iv_filter_rise_c[13]),
	.I(iv_filter_rise[13])
);
// @6:35
  IBUF \iv_filter_rise_ibuf[12]  (
	.O(iv_filter_rise_c[12]),
	.I(iv_filter_rise[12])
);
// @6:35
  IBUF \iv_filter_rise_ibuf[11]  (
	.O(iv_filter_rise_c[11]),
	.I(iv_filter_rise[11])
);
// @6:35
  IBUF \iv_filter_rise_ibuf[10]  (
	.O(iv_filter_rise_c[10]),
	.I(iv_filter_rise[10])
);
// @6:35
  IBUF \iv_filter_rise_ibuf[9]  (
	.O(iv_filter_rise_c[9]),
	.I(iv_filter_rise[9])
);
// @6:35
  IBUF \iv_filter_rise_ibuf[8]  (
	.O(iv_filter_rise_c[8]),
	.I(iv_filter_rise[8])
);
// @6:35
  IBUF \iv_filter_rise_ibuf[7]  (
	.O(iv_filter_rise_c[7]),
	.I(iv_filter_rise[7])
);
// @6:35
  IBUF \iv_filter_rise_ibuf[6]  (
	.O(iv_filter_rise_c[6]),
	.I(iv_filter_rise[6])
);
// @6:35
  IBUF \iv_filter_rise_ibuf[5]  (
	.O(iv_filter_rise_c[5]),
	.I(iv_filter_rise[5])
);
// @6:35
  IBUF \iv_filter_rise_ibuf[4]  (
	.O(iv_filter_rise_c[4]),
	.I(iv_filter_rise[4])
);
// @6:35
  IBUF \iv_filter_rise_ibuf[3]  (
	.O(iv_filter_rise_c[3]),
	.I(iv_filter_rise[3])
);
// @6:35
  IBUF \iv_filter_rise_ibuf[2]  (
	.O(iv_filter_rise_c[2]),
	.I(iv_filter_rise[2])
);
// @6:35
  IBUF \iv_filter_rise_ibuf[1]  (
	.O(iv_filter_rise_c[1]),
	.I(iv_filter_rise[1])
);
// @6:35
  IBUF \iv_filter_rise_ibuf[0]  (
	.O(iv_filter_rise_c[0]),
	.I(iv_filter_rise[0])
);
// @6:113
  LUT2 filter_sig3_lut6_2_o6 (
	.I0(filter_rise_cnt6),
	.I1(i_din_c),
	.O(filter_sig3)
);
defparam filter_sig3_lut6_2_o6.INIT=4'h8;
// @6:113
  LUT5 filter_sig3_lut6_2_o5 (
	.I0(filter_fall_cnt5),
	.I1(filter_rise_cnt6),
	.I2(filter_sig),
	.I3(filter_sig3),
	.I4(i_din_c),
	.O(N_3_0)
);
defparam filter_sig3_lut6_2_o5.INIT=32'hFF30FF50;
endmodule /* filter */

