//
// Written by Synplify Pro 
// Product Version "J-2015.03"
// Program "Synplify Pro", Mapper "maprc, Build 2608R"
// Fri Jan 18 16:15:00 2019
//
// Source file index table:
// Object locations will have the form <file>:<line>
// file 0 "\d:\tools\synopsys\fpga_j-2015.03\lib\xilinx\unisim_m10i.v "
// file 1 "\d:\tools\synopsys\fpga_j-2015.03\lib\xilinx\unisim.v "
// file 2 "\d:\tools\synopsys\fpga_j-2015.03\lib\vlog\hypermods.v "
// file 3 "\d:\tools\synopsys\fpga_j-2015.03\lib\vlog\umr_capim.v "
// file 4 "\d:\tools\synopsys\fpga_j-2015.03\lib\vlog\scemi_objects.v "
// file 5 "\d:\tools\synopsys\fpga_j-2015.03\lib\vlog\scemi_pipes.svh "
// file 6 "\c:\ue\synplify\trigger_active.v "

`timescale 100 ps/100 ps
module trigger_active (
  clk,
  i_trigger_soft,
  iv_trigger_source,
  i_trigger_active,
  i_din,
  o_dout
)
;
input clk ;
input i_trigger_soft ;
input [3:0] iv_trigger_source ;
input i_trigger_active ;
input i_din ;
output o_dout ;
wire clk ;
wire i_trigger_soft ;
wire i_trigger_active ;
wire i_din ;
wire o_dout ;
wire [3:0] iv_trigger_source_c;
wire dout_reg ;
wire triggerl_sel_dly ;
wire triggerl_sel ;
wire VCC_x ;
wire GND_x ;
wire dout_reg_4 ;
wire triggerl_sel_4 ;
wire clk_c ;
wire i_trigger_soft_c ;
wire i_trigger_active_c ;
wire i_din_c ;
wire clk_ibuf_iso ;
wire GND ;
wire VCC ;
// @6:68
  FD triggerl_sel_dly_Z (
	.Q(triggerl_sel_dly),
	.D(triggerl_sel),
	.C(clk_c)
);
defparam triggerl_sel_dly_Z.INIT=1'b0;
// @6:78
  FD dout_reg_Z (
	.Q(dout_reg),
	.D(dout_reg_4),
	.C(clk_c)
);
defparam dout_reg_Z.INIT=1'b0;
// @6:56
  FD triggerl_sel_Z (
	.Q(triggerl_sel),
	.D(triggerl_sel_4),
	.C(clk_c)
);
defparam triggerl_sel_Z.INIT=1'b0;
  BUFG clk_ibuf (
	.I(clk_ibuf_iso),
	.O(clk_c)
);
  IBUFG clk_ibuf_iso_cZ (
	.O(clk_ibuf_iso),
	.I(clk)
);
// @6:79
  LUT3_L dout_reg_4_cZ (
	.I0(i_trigger_active_c),
	.I1(triggerl_sel),
	.I2(triggerl_sel_dly),
	.LO(dout_reg_4)
);
defparam dout_reg_4_cZ.INIT=8'h18;
// @6:57
  LUT6_L triggerl_sel_4_cZ (
	.I0(i_din_c),
	.I1(i_trigger_soft_c),
	.I2(iv_trigger_source_c[0]),
	.I3(iv_trigger_source_c[1]),
	.I4(iv_trigger_source_c[2]),
	.I5(iv_trigger_source_c[3]),
	.LO(triggerl_sel_4)
);
defparam triggerl_sel_4_cZ.INIT=64'hAAAAAAAAAAAAAACA;
// @6:39
  OBUF o_dout_obuf (
	.O(o_dout),
	.I(dout_reg)
);
// @6:38
  IBUF i_din_ibuf (
	.O(i_din_c),
	.I(i_din)
);
// @6:35
  IBUF i_trigger_active_ibuf (
	.O(i_trigger_active_c),
	.I(i_trigger_active)
);
// @6:34
  IBUF \iv_trigger_source_ibuf[3]  (
	.O(iv_trigger_source_c[3]),
	.I(iv_trigger_source[3])
);
// @6:34
  IBUF \iv_trigger_source_ibuf[2]  (
	.O(iv_trigger_source_c[2]),
	.I(iv_trigger_source[2])
);
// @6:34
  IBUF \iv_trigger_source_ibuf[1]  (
	.O(iv_trigger_source_c[1]),
	.I(iv_trigger_source[1])
);
// @6:34
  IBUF \iv_trigger_source_ibuf[0]  (
	.O(iv_trigger_source_c[0]),
	.I(iv_trigger_source[0])
);
// @6:33
  IBUF i_trigger_soft_ibuf (
	.O(i_trigger_soft_c),
	.I(i_trigger_soft)
);
  assign GND = 1'b0;
  assign VCC = 1'b1;
endmodule /* trigger_active */

